html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

.header {
  text-align: center;
}

.prompt {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  z-index: 1;
  height: 250px;
  width: 500px;
  background-color: #fff;
  color: white;
  text-align: center;
  border-radius: 10px;
  animation-name: appear;
  animation-duration: 0.5s;
  padding-top: 50px;
  background-color: rgba(255,0,0,0.5);
  /*opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */*/
}

button {
  height: 50px;
  width: 100px;
  margin: 10px 20px;
}

.center {
  margin-left: 20%;
  margin-right: 20%;
}

div.grid {
  width: 500px;
  margin: auto auto;
  color: #fff;
  box-shadow: 20px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 20px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 10px 5px 0px rgba(0,0,0,0.75);
}

.grid div {
  text-align: center;
  background-color: #330033;
}

.row {
  height: 25vh;
  border: 1px solid #fff;
}

.middle-column {
  border-left: 1px solid #fff;
  border-right: 1px double #fff;
}

.cell {
  height: 100%;
  vertical-align: middle;
  font-size: 4em;
}